<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <achiless-market-cap-header></achiless-market-cap-header>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coinCap of marketCap">
      <td>{{coinCap.name}} ({{coinCap.symbol}})</td>
      <td>{{coinCap.price_usd}}%</td>
      <td [ngStyle] ="{'color': coinCap.percent_change_24h > 0 ? 'green' : coinCap.percent_change_24h < 0 ? 'red' : 'grey'}" >{{coinCap.percent_change_24h}}%</td>
    </tr>
    <!--<achiless-market-cap-coin *ngFor="let marketCapCoin of marketCap" [marketCapCoin]="marketCapCoin">></achiless-market-cap-coin>-->
    </tbody>
  </table>
</div>
