<form class="form-horizontal">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4">
      <achiless-coin-amount [coins]="coins" [amount]="fromAmount" [selectedCoin]="fromCurrency" [exchangeSide]="'fromCurrency'"></achiless-coin-amount>
    </div>
    <div class="col-lg-1">
      <div>
        <span>TO</span>
      </div>
      <div>
        <button type="button" class="btn btn-default" (click)="switchCurrencies()">
          <i class="fa fa-exchange fa-2" aria-hidden="true"></i>
        </button>

      </div>
    </div>
    <div class="col-lg-4">
      <achiless-coin-amount [coins]="coins" [amount]="toAmount" [selectedCoin]="toCurrency" [exchangeSide]="'toCurrency'" [disabled]="true"></achiless-coin-amount>
    </div>
  </div>
  <br>
  <div class="row">
    <button type="submit" class="btn btn-default">Exchange</button>
  </div>

</form>

